.service-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin: auto;
    
}
.service-header{
    font-size: 50px;
    font-weight: 700;
}
.service img{
width:363px;
height: 200px;
}

@media (max-width: 688px) {
    .service-container{
        display: block;
    }
    .service img{
        width: 100%;
    }
}