/* .about{
    display: flex;
    background-color: aqua;
    margin-bottom: 30px;
}
.dedication{
    display: flex;
    background-color: aqua;
    padding: 10px;
    margin: 10px;
} */
.about-header{
    display: flex;
}

.about-img{
    width:700px;
}
.text{
    font-size: 30px;
    margin-bottom: 20px;
}

@media (max-width: 688px) {
    .about-header{
        display: block;
    }
    .about-img{
        width: 100%;
    }
}

