.bg-body {
  display: flex;
  background-image: inear-gradient(
      45deg,
      rgb(37, 208, 197) 0%,
      rgb(26, 41, 130) 100%
    )
    linear-gradient(
      45deg,
      var(--e-global-color-accent) 0%,
      var(--e-global-color-primary) 100%
    );
  width: 100%;
  height: 600px;
}
.header-div {
  background-color: rgb(37, 208, 197);
}
.img-div{
    background-color: rgb(37, 192, 182);
}
.title {
  margin-top: 150px;
  justify-content: center;
}
.btn {
  background-color: gray;
  border-radius: 25px;
}
.cart {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 55px;
  margin: 26px;
  padding: 40px;
}
